* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* inicio scrollbar */
::-webkit-scrollbar {
    width: .26vw;
    height: 0vh;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    background: #004d00;
}
::-webkit-scrollbar-thumb {
    background: #008000;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00aa00;
}
/* fim scrollbar */

a {
    color: #008000;

    font-weight: 900;

    text-decoration: none;
}

a:hover {
    color: #00aa00;
    transition: .7s;
}

ul, ol {
    list-style: none;
}

.header-page {
    background-color: #313131;

    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-fiap {
    width: 100px;

    padding: 10px;
}

.eco-sharpness {    
    width: 125px;
    height: 100px;

    padding-top: 10px;
}

.header-menu ul {
    display: flex;

    gap: 15px;
}

.container {
    text-align: center;

    width: 100%;
    height: 100vh;
    max-height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}  

.img-container {
    height: 60vh;
    width: 100%;
}

.p-content {
    width: 50%;
    color: white;
    
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;

    justify-content: flex-end;

    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: 860px) {
    .container {
        flex-wrap: wrap;

        justify-content: center;
    }
    
    
    .p-container {
      font-size: 1.3rem;
    }

    .img-container {
        width: 95%;
        height: 50vh;
    }

}
@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .p-container {
        font-size: 25px;
        text-align: center;
    }

    .img-container {
        width: 90%;
        height: 43vh;

        margin-top: -100px;
        margin-bottom: 50px;
    }
}
@media screen and (max-width: 490px) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .p-container {
        font-size: 24px;
        text-align: center;
    }

    .img-container {
        width: 80%;
        height: 32vh;
    }
}

@media screen and (max-width: 425px){
    .container {
        flex-wrap: wrap;

        justify-content: center;
    }

    .p-container {
        margin-top: 0;

        font-size: 20px;
        text-align: center;
    }

    .img-container {
        width: 65%;
        height: 26vh;
    }
}


.sobre {
    background-color: #313131;
    color: #008000;

    font-size: small;
    font-weight: 700;

    padding: 10px;

    text-align: center;
}

.container-cards {
    width: 100%;
    min-height: 100vh;

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards {
    margin: 15px 0;
    width: 28%;
    padding: 20px;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: .5px .5px 30px #004d00;
    border-radius: 30px;
    transition: 1s;
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 80%;
    height: 400px;

    border-radius: 10px;
}

.cards h3 {
    margin: 20px 0;

    color: #008000;

    font-size: 25px;
}

.cards p {
    margin-bottom: 30px;

    color: #ffffff;

    font-size: 20px;
}

@media screen and (max-width: 1000px) {
    .cards img {
        height: 200px;
    }

    .cards h3 {
        font-size: 22px;
    }

    .cards p {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .cards {
        flex-wrap: wrap;
    }

    .cards img {
        height: 150px;
    }

    .cards h3 {
        font-size: 20px;
    }

    .cards p {
        font-size: 13px;
    }
}
@media screen and (max-width: 415px) {
    .cards img {
        height: 100px;
    }

    .cards h3 {
        font-size: 16px;
    }

    .cards p {
        font-size: 10px;
    }
}

.footer-page {
    text-align: center;
    font-size: small;

    background-color: #313131;
    color: #ffffff;

    padding: 10px;
}

.footer-page span {
    color:#008000;
}

.bg-img {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url(../img/ceu-estrelado.png);

   max-width: 100%;
}

.bg-grey {
    background-color: #3C3C3C;
}

/* media query */
@media screen and (max-width: 768px) {
    .header-menu ul {
        font-size: 12px;
    }

    .sobre {
        font-size: 10px;
    }
}

@media screen and (max-width: 475px) {
    .header-menu ul {
        font-size: 9px;
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .container {
      flex-direction: column;
      align-items: center;

      justify-content: center;
    }
  
    .img-container {
      width: 100%;

      margin-top: -100px ;
    }
  
    .p-content {
      font-size: 7px;
      text-align: center;
      margin-top: 30px;
    }

    .cards img {
        height: 115px;
    }
    
    .bg-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  @media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 3) {
    .container {
        flex-direction: column;
        align-items: center;

        justify-content: center;
        padding: 0 20px;
      }
    
    .img-container {
        width: 100%;
        height: auto;
        max-height: 60.9vh;
        object-fit: contain;
        margin-bottom: 10px;
      }
    
    .p-content {
        font-size: 12px;
        text-align: center;
        max-width: 100%;
        margin-bottom: 0;
  
        flex-wrap: wrap;
      }
  
    .cards img {
          height: 125px;
      }
      
    .bg-img {
        display: flex;
        align-items: center;
        justify-content: center;
      }    
  }
/* fim media query */