* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif;
}
/* inicio scrollbar */
::-webkit-scrollbar {
    width: .26vw;
    height: 0vh;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    background: #004d00;
}
::-webkit-scrollbar-thumb {
    background: #008000;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00aa00;
}
/* fim scrollbar */

/* media query */
@media screen and (max-width: 830px) {
    .container p {
      height: 100%;  
      font-size: 0.4rem;
    }
  }

@media screen and (max-width: 768px) {
    .header-menu ul {
        font-size: .5rem;
    }

    .sobre {
        font-size: 6px;
    }
}

@media screen and (max-width: 475px) {
    .header-menu ul {
        font-size: 6px;
    }

    .container img {
        width: 80vw;
        height: fit-content;
    }

    .container p {
        position: absolute;
        top: 10vh;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5vh;
        max-width: 80vw;
    }
}

@media only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
    .container {
      flex-direction: column;
      align-items: center;
      padding: 0 20px;
    }
  
    .container img {
      width: 100%;
      height: auto;
      max-height: 60.9vh;
      object-fit: contain;
      margin-bottom: 10px;
    }
  
    .container p {
      font-size: 0.4rem;
      text-align: center;
      max-width: 100%;
      margin-bottom: 0;
    }
  
    .bg-img {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
/* fim media query */

html {
    scroll-behavior: smooth;
}

a {
    color: #008000;

    font-weight: 900;

    text-decoration: none;
}

a:hover {
    color: #00aa00;
    transition: .7s;
}

ul, ol {
    list-style: none;
}

.header-container {
    height: 80px;
}

.header-page {
    background-color: #313131;

    width: 100%;
    height: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-fiap {
    width: 100px;

    padding: 10px;
}

.eco-sharpness {    
    width: 125px;
    height: 100px;

    padding-top: 10px;
}

.header-menu ul {
    display: flex;

    gap: 15px;
}

.container {
    text-align: center;

    width: 100%;
    height: 100vh;
    max-height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}  

.container img {
    height: 60.9vh;
    max-width: 50%;
}

  .container p {
    max-height: 60.9vh;
    max-width: 50%;
    color: white;
    
    font-weight: bold;
    font-size: 1.95rem;
    text-align: center;

    margin-top: 0;
    margin-bottom: 0;
}

.sobre {
    background-color: #313131;
    color: #008000;

    font-size: small;
    font-weight: 700;

    padding: 10px;

    text-align: center;
}

.sobre h2 {
    margin-left: 3.3vmax;
}

.container-cards {
    width: 100%;
    min-height: 100vh;

    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    row-gap: 25px;
}

.cards {
    background-color: #313131;

    width: 35%;
    padding: 20px;

    font-weight: 800;
    font-size: 1.125rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: .5px .5px 30px #004d00;
    border-radius: 30px;
    transition: 1s;
}

.cards:hover {
    transform: scale(1.05);
}

.cards img {
    width: 85%;
    height: 40vh;

    border-radius: 10px;
}

.cards h3 {
    margin: 20px 0;

    color: #008000;
}

.cards p {
    margin-bottom: 30px;

    color: #ffffff;
}

.footer-page {
    text-align: center;
    font-size: small;

    background-color: #313131;
    color: #ffffff;

    padding: 10px;
}

.footer-page span {
    color:#008000;
}

.bg-img {
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),url(../img/ceu-estrelado.png);

   max-width: 100%;
}

.bg-grey {
    background-color: #3C3C3C;
}